@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: georgia;
    background: url('../pics/bg-body.png') #fff;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    border: 1px dashed black;
    background-color: white;
    text-align: center;
    padding: 30px;
}

nav {
    display: flex;
    background-color: black;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav>ul>li {
    float: left;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
    display: block;
}

nav a:hover {
    background: red;
}


